<div>
    <h1>Detalle de Producto</h1>
    <div class="card-container">
    <div class="card">
      <h2>{{this.title}}</h2>
      <p>{{this.description}}</p>
      <p>Precio: ${{this.price}}</p>
      <p>Código: {{this.code}}</p>
      <p>Stock: {{this.stock}}</p>
      <form action="/api/addToCart" method="post">
        <form action="/api/addToCart" method="post">
          <input type="hidden" name="productId" value="{{this._id}}">
          <button type="submit">Agregar al carrito</button>
        </form>
      </form>
    </div>
    </div>
    <a href="http://localhost:8080/api/products">Volver🔙</a>
</div>

