<h1>Detalles de Tickets</h1>
    {{#if tickets}}
        {{#each tickets}}
            <div>
                <p>_id: {{this._id}}</p>
                <p>Código del ticket: {{this.code}}</p>
                <p>Fecha de compra: {{this.purchase_datetime}}</p>
                <p>Monto: {{this.amount}}</p>
                <p>Comprador: {{this.purchaser}}</p>
                <hr>
            </div>
        {{/each}}
        <a href="/:cid/purchase">Finalizar compra</a>
        <a href="/api/cart">Volver</a>
    {{else}}
        <p>No se encontraron tickets</p>
{{/if}}