<h1>Lista de Usuarios</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Edad</th>
                <th>Role</th>
                <th>Ultima conexion</th>
                <th>Documentos</th>
                <th>Creado el</th>
                <th>Actualizado el</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>{{this.email}}</td>
                <td>{{this.age}}</td>
                <td>{{this.role}}</td>
                <td>{{this.lastConnetion}}</td>
                <td>
                    <ul>
                        {{#each this.documents}}
                        <li>{{this.name}}: {{this.reference}}</li>
                        {{/each}}
                    </ul>
                </td>
                <td>{{this.createdAt}}</td>
                <td>{{this.updatedAt}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>